name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build and test
        uses: ./
        with:
          source: 'source'

      - name: Create release
        run: |
          mv build/go-safe-build build/go-safe-build-linux-amd64
          gh release create "${{ github.ref_name }}" build/* --generate-notes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
